<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Email Sent</title>
</head>
<body>
    <h1>Email was successfully sent</h1>
    
    <h2>Review Email</h2>
    <p style="white-space: pre-wrap;">Recipient(s)</p>
    <ul>
        {% for email in recipients %}
        <li>{{ email }}</li>
        {% endfor %}
    </ul>
    <p>Message</p>
    <p style="white-space: pre-wrap;">{{message}}</p>

    <br><br>
    <button><a href="/">Send another email</a></button>
    
    
</body>
</html>